.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.no-data {
  padding: 20px;
  text-align: center;
  color: grey;
}

.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
}
