<div *ngIf="!isCompanyLoading && company">
    <a routerLink="/companies" mat-button>
        <mat-icon>arrow_back</mat-icon>
        Back to Companies
      </a>

      <mat-card class="details-card">
        <mat-card-header>
          <mat-card-title>{{ company.name }}</mat-card-title>
          <mat-card-subtitle>Company Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Address:</strong> {{ company.address }}</p>
          <p><strong>Tax ID:</strong> {{ company.taxId }}</p>
          <p><strong>Member Since:</strong> {{ company.createdAt | date:'longDate' }}</p>
        </mat-card-content>
      </mat-card>

  <h3>Employees</h3>
  <app-employee-list [employees]="employees" [isLoading]="isEmployeesLoading"></app-employee-list>
</div>
